form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}

input[type=text],
textarea,
#contact button {
    width: 80%;
    border-radius: 10px;
    border: 1px solid var(--black);
    padding: 0 1em;
}

#contact button,
input[type=text] {
    height: 2em;
}

textarea {
    min-height: 6em;
}

#contact button {
    width: 87%;
    animation: shake-button 2s infinite;
}

@keyframes shake-button {
    0% {
        transform: skewY(-2deg);
    }

    5% {
        transform: skewY(2deg);
    }

    10% {
        transform: skewY(-2deg);
    }

    15% {
        transform: skewY(2deg);
    }

    20% {
        transform: skewY(0deg);
    }

    100% {
        transform: skewY(0deg);
    }
}