/* Design of header elements */
@import "../css/root.css";

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0;
}

li {
    list-style: none;
}

a {
    color: var(--black);
    display: inline-block;
    position: relative;
    text-decoration: none;
}

/* Hover animation from left to right */
header a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    height: 0.05em;
    background: currentColor;
    transform-origin: bottom right;
    transition: transform 600ms ease-out;
}

header a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;

}