@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    /* Colors */
    --pink: #ee9ca7;
    --light-pink: #ffdde1;
    --blue: #4cb19d;
    --yellow: #ffdeaf;
    --white: #ffffff;
    --black: #000;


    /* Fonts */
    --h1: 'playwrite AU TAS', cursive;
    --h2: 'Nunito', sans-serif;
}