@import "../css/root.css";
@import "../css/pages/index.css";
@import "../css/animations.css";

body {
    background: #654ea3;
    background: -webkit-linear-gradient(to right, var(--pink), var(--light-pink));
    background: linear-gradient(to right, var(--pink), var(--light-pink));
}

h1 {
    font-family: var(--h1);
}

h2 {
    font-family: var(--h2);
}